
	<div id="footer">
		<ul class="copyright">
			<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a></li>
			<li>Design: <a href="http://html5up.net/astral">HTML5 UP</a></li>
		</ul>
	</div>
