
    <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Home</span></a>
        <a href="#work" class="icon solid fa-folder"><span>Work</span></a>
        <a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
        <a href="{{ data.github }}" class="icon brands fa-github"><span>Github</span></a>
    </nav>
